table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.397);
}

th {
  background-color: #04b4ff;
  height: 30px;
}

.tabla-titulo {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  gap: 1rem;
  color: white;
  background: linear-gradient(to bottom right, #016df8, #1119c4);
  font-family: sans-serif;
  gap: 3rem;
  margin-bottom: 3rem;
}

div {
  width: 800px;
}

.oro {
  background-color: #efb810;
}

.plata {
  background-color: #c0c0c0;
}

.bronce {
  background-color: #bf8970;
}

@media (max-width: 850px) {
  div {
    width: 500px;
  }
}

@media (max-width: 550px) {
  div {
    width: 310px;
  }

  .actualizacion {
    text-align: center;
    width: 100%;
  }
}
